@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* Couleurs de l'identité graphique */
/* Couleurs pour les polices */
/* Couleurs pour les bordures */
/* Couleurs pour les fonds */
/* Variables pour les mixins d'animation */
/* Mixins pour la police et le formatage de textes */
/* Mixins pour la disposition des blocs */
/* Mixins pour les couleurs et bordures */
/* Animation permettant l'apparition progressive d'éléments */
/* Mixins pour le responsive */
/* Dimensions par défaut adaptées aux mobiles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 1920px;
}
@media screen and (min-width: 600px) {
  body h2 {
    text-align: center;
  }
}

main {
  z-index: 1;
}

/* Mixin pour la page de loading */
/* Mixin pour l'animation du spinner du loading */
/* Mixin pour l'animation du texte du loading */
.loading_screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  row-gap: 80px;
  width: 100%;
  height: 100%;
  background-color: #e0dede;
  animation: load 0s forwards;
  animation-delay: 4s;
}
@keyframes load {
  from {
    height: 100%;
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
    z-index: 0;
  }
}
.loading_screen__text {
  display: flex;
  column-gap: 3px;
  font-size: 20px;
  font-weight: bold;
  color: #9356dc;
}
.loading_screen__text span:nth-of-type(1) {
  animation: change_color 1s linear infinite 200ms;
}
.loading_screen__text span:nth-of-type(2) {
  animation: change_color 1s linear infinite 400ms;
}
.loading_screen__text span:nth-of-type(3) {
  animation: change_color 1s linear infinite 600ms;
}
.loading_screen__text span:nth-of-type(4) {
  animation: change_color 1s linear infinite 800ms;
}
.loading_screen__text span:nth-of-type(5) {
  animation: change_color 1s linear infinite 1000ms;
}
.loading_screen__text span:nth-of-type(6) {
  animation: change_color 1s linear infinite 1200ms;
}
.loading_screen__text span:nth-of-type(7) {
  animation: change_color 1s linear infinite 1400ms;
}
.loading_screen__text span:nth-of-type(8) {
  animation: change_color 1s linear infinite 1600ms;
}
.loading_screen__text span:nth-of-type(9) {
  animation: change_color 1s linear infinite 1800ms;
}
.loading_screen__text span:nth-of-type(10) {
  animation: change_color 1s linear infinite 2000ms;
}
.loading_screen__text span:nth-of-type(11) {
  animation: change_color 1s linear infinite 2200ms;
}
.loading_screen__text span:nth-of-type(12) {
  animation: change_color 1s linear infinite 2400ms;
}
.loading_screen__text span:nth-of-type(13) {
  animation: change_color 1s linear infinite 2600ms;
}
@keyframes change_color {
  0% {
    color: #9356dc;
  }
  50% {
    color: #ff79da;
  }
  100% {
    color: #9356dc;
  }
}
.loading_screen__spinner {
  height: 100px;
  display: flex;
  column-gap: 10px;
}
.loading_screen__spinner div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #9356dc;
}
.loading_screen__spinner div:nth-of-type(1) {
  animation: up_and_down 1s linear infinite 200ms;
}
.loading_screen__spinner div:nth-of-type(2) {
  animation: up_and_down 1s linear infinite 400ms;
}
.loading_screen__spinner div:nth-of-type(3) {
  animation: up_and_down 1s linear infinite 600ms;
}
.loading_screen__spinner div:nth-of-type(4) {
  animation: up_and_down 1s linear infinite 800ms;
}
.loading_screen__spinner div:nth-of-type(5) {
  animation: up_and_down 1s linear infinite 1000ms;
}
@keyframes up_and_down {
  0% {
    transform: translateY(0);
    background-color: #9356dc;
  }
  50% {
    transform: translateY(-30px);
    background-color: #ff79da;
  }
  100% {
    transform: translateY(0px);
    background-color: #9356dc;
  }
}

.title {
  font-family: "Shrikhand", cursive, Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title--restaurant {
  position: relative;
  box-shadow: 0 0 5px #646464;
}
.title h1 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 30px;
}
.title h3 {
  font-size: 16px;
}
.title a {
  position: absolute;
  left: 20px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #e0dede;
}
.localisation h3 {
  font-size: 18px;
  font-weight: bold;
}
.localisation i {
  font-size: 20px;
  margin-right: 20px;
}

.explore {
  display: flex;
  flex-direction: column;
  background-color: #f4f3f3;
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .explore {
    padding-top: 20px;
    padding-bottom: 0;
  }
}
.explore h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 50px;
  padding-right: 50px;
}
.explore > p {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
}

.form_restaurant {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}
@media screen and (min-width: 600px) {
  .form_restaurant {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.form_restaurant h2 {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 10px;
}

#restaurants {
  background-color: #f4f3f3;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
#restaurants__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 60px;
}
@media screen and (min-width: 600px) {
  #restaurants__container {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  #restaurants__container {
    padding-top: 15px;
  }
}

.restaurant_img {
  position: static;
  height: 300px;
  overflow: hidden;
}
.restaurant_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  z-index: 1;
}

.form_menu {
  background-color: #f4f3f3;
  padding-bottom: 40px;
}

.menu_choice {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 40px 40px 0 0;
  margin-top: -70px;
  background-color: #f4f3f3;
}
@media screen and (min-width: 600px) {
  .menu_choice {
    padding: 30px;
    padding-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .menu_choice {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.restaurant_title {
  font-family: "Shrikhand", cursive, Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
@media screen and (min-width: 600px) {
  .restaurant_title {
    width: 100%;
    justify-content: center;
  }
}

.element_menu {
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (min-width: 600px) {
  .element_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .element_menu {
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
  }
}
.element_menu h3 {
  width: 90%;
  margin-top: 15px;
}
@media screen and (min-width: 600px) {
  .element_menu h3 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .element_menu h3 {
    margin-left: 0;
  }
}
.element_menu h3::after {
  content: "";
  display: block;
  width: 46px;
  height: 3px;
  margin-top: 10px;
  background-color: #99e2d0;
}

.btn_standard {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top left, #9356dc, #ff79da);
  height: 50px;
  margin: auto;
  border-radius: 25px;
  box-shadow: 5px 5px 10px #646464;
  transition: filter 500ms ease-in-out, box-shadow 500ms 100ms;
}
.btn_standard a {
  text-decoration: none;
  color: white;
}
.btn_standard--explore {
  appearance: button;
  width: 220px;
}
@media screen and (min-width: 1200px) {
  .btn_standard--explore {
    display: none;
  }
}
.btn_standard--order {
  width: 40%;
  margin-top: 20px;
  border: transparent;
  color: white;
  cursor: pointer;
}
.btn_standard:hover {
  filter: brightness(120%);
  box-shadow: 5px 5px 10px #323232;
}

.btn_function {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding-right: 5px;
  background-color: #f4f3f3;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #646464;
  font-size: 16px;
  transition: box-shadow 500ms;
}
@media screen and (min-width: 600px) {
  .btn_function {
    overflow: hidden;
  }
}
.btn_function__num {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: -10px;
  background-color: #9356dc;
  font-size: 12px;
  color: white;
}
@media screen and (min-width: 600px) {
  .btn_function__num {
    width: 40px;
    height: 100%;
    margin-left: 0;
    border-radius: 0;
    font-size: 16px;
  }
}
.btn_function i {
  margin-left: 15px;
  margin-right: 20px;
  font-size: 20px;
  color: gray;
}
.btn_function p {
  font-weight: bold;
}
.btn_function:hover {
  cursor: pointer;
  filter: brightness(103%);
  box-shadow: 5px 5px 10px #323232;
}
.btn_function:hover > i {
  color: #9356dc;
}
@media screen and (min-width: 600px) {
  .btn_function {
    width: 30%;
  }
}

.like {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.like i {
  font-size: 25px;
  color: black;
}
.like i:nth-child(2) {
  position: absolute;
  font-weight: bold;
  transform: scale(0);
  transition: all 500ms;
}
.like i:nth-child(1) {
  transition: all 500ms;
}
.like:hover > i:nth-child(1) {
  color: #9356dc;
}
.like:hover > i:nth-child(2) {
  color: #9356dc;
  transform: scale(1);
}
.like--restaurant {
  right: 20px;
  bottom: 30px;
}
.like--menu {
  right: 12%;
}
@media screen and (min-width: 600px) {
  .like--menu {
    right: 20%;
  }
}
@media screen and (min-width: 1200px) {
  .like--menu {
    right: 30%;
  }
}

.card_restaurant {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  background-color: white;
}
.card_restaurant a:hover {
  box-shadow: 5px 5px 10px #323232;
}
.card_restaurant a:hover .card_restaurant__detail h3 {
  color: #9356dc;
}
@media screen and (min-width: 600px) {
  .card_restaurant {
    width: 48%;
  }
}
@media screen and (min-width: 1200px) {
  .card_restaurant {
    width: 22%;
  }
}
.card_restaurant a {
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 5px 5px 10px #646464;
  color: black;
  transition: box-shadow 500ms;
}
.card_restaurant__image {
  height: 170px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
.card_restaurant__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card_restaurant__new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #99e2d0;
  color: #278870;
  width: 90px;
  height: 30px;
  top: 15px;
  right: 10px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
}
.card_restaurant__detail {
  padding-left: 20px;
}
.card_restaurant__detail h3 {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 18px;
}
.card_restaurant__detail p {
  margin-top: 5px;
  margin-bottom: 15px;
}

.card_menu {
  position: relative;
  overflow: hidden;
  display: flex;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: white;
  opacity: 0;
  transition: box-shadow 500ms;
  box-shadow: 5px 5px 10px gray;
}
.card_menu:nth-of-type(1) {
  animation: appearance 400ms ease-out forwards 300ms;
}
.card_menu:nth-of-type(2) {
  animation: appearance 400ms ease-out forwards 500ms;
}
.card_menu:nth-of-type(3) {
  animation: appearance 400ms ease-out forwards 700ms;
}
.card_menu:nth-of-type(4) {
  animation: appearance 400ms ease-out forwards 900ms;
}
@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 600px) {
  .card_menu {
    width: 30%;
    height: 150px;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .card_menu {
    width: 100%;
  }
}
.card_menu__detail {
  width: 75%;
  margin-left: 10px;
  transition: all 700ms;
}
@media screen and (min-width: 600px) {
  .card_menu__detail {
    height: 60%;
  }
}
.card_menu__detail h4 {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (min-width: 600px) {
  .card_menu__detail h4 {
    white-space: normal;
  }
}
.card_menu__detail p {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (min-width: 600px) {
  .card_menu__detail p {
    white-space: normal;
  }
}
.card_menu__price {
  position: absolute;
  width: 40px;
  right: 20px;
  transition: all 500ms;
}
@media screen and (min-width: 600px) {
  .card_menu__price {
    bottom: 20px;
  }
}
.card_menu__price p {
  font-weight: bold;
  margin-top: 33px;
  margin-bottom: 0;
  padding-left: 5px;
}
.card_menu__validation {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
  right: -60px;
  color: white;
  font-size: 25px;
  background-color: #99e2d0;
  transition: all 500ms;
}
.card_menu:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px #323232;
}
.card_menu:hover > .card_menu__detail {
  width: 60%;
  transition: all 500ms;
}
.card_menu:hover > .card_menu__detail h4, .card_menu:hover > .card_menu__detail p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card_menu:hover > .card_menu__price {
  transform: translate(-50px, 0);
  transition: all 500ms;
  transition-delay: 110ms;
}
.card_menu:hover > .card_menu__validation {
  transform: translate(-60px, 0);
  transition: all 500ms;
}
.card_menu:hover i {
  transform: rotate(1turn);
  transition: all 700ms;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #3d3d3d;
  color: white;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
}
footer h2 {
  font-family: "Shrikhand", cursive, Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}
footer ul {
  padding-left: 0;
}
@media screen and (min-width: 600px) {
  footer ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    height: 70px;
  }
}
footer li {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-weight: bold;
}
footer li i {
  margin-right: 15px;
}
footer li a {
  text-decoration: none;
  color: white;
}
footer li a:hover {
  color: #9356dc;
}
footer li address {
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */
