@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* Couleurs de l'identité graphique */
/* Variables pour les tailles */
/* Couleurs pour les polices */
/* Couleurs pour les bordures */
/* Couleurs pour les fonds */
/* Variables pour les mixins d'animation */
/* Mixins pour la police et le formatage de textes */
/* Mixins pour la disposition des blocs */
/* Mixins pour les couleurs, le fond et bordures */
/*Mixins pour les comportements lors d'un hover */
/* Mixins pour les animations */
/* Mixins pour le responsive */
/* Dimensions par défaut adaptées aux mobiles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 1920px;
}
@media screen and (min-width: 800px) {
  body h2 {
    text-align: center;
  }
}

main {
  z-index: 1;
}

/* Mixin pour la page de loading */
/* Mixin pour l'animation du spinner du loading */
/* Mixin pour l'animation du texte du loading */
.loading_screen {
  align-items: center;
  display: flex;
  justify-content: center;
  animation: load 0s forwards;
  animation-delay: 4s;
  background-color: #e0dede;
  flex-direction: column;
  height: 100%;
  position: fixed;
  row-gap: 50px;
  width: 100%;
  z-index: 1;
}
@keyframes load {
  from {
    height: 100%;
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
    z-index: 0;
  }
}
.loading_screen__text {
  color: #9356dc;
  column-gap: 3px;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}
.loading_screen__text span:nth-of-type(1) {
  animation: change_color 1s linear infinite 200ms;
}
.loading_screen__text span:nth-of-type(2) {
  animation: change_color 1s linear infinite 400ms;
}
.loading_screen__text span:nth-of-type(3) {
  animation: change_color 1s linear infinite 600ms;
}
.loading_screen__text span:nth-of-type(4) {
  animation: change_color 1s linear infinite 800ms;
}
.loading_screen__text span:nth-of-type(5) {
  animation: change_color 1s linear infinite 1000ms;
}
.loading_screen__text span:nth-of-type(6) {
  animation: change_color 1s linear infinite 1200ms;
}
.loading_screen__text span:nth-of-type(7) {
  animation: change_color 1s linear infinite 1400ms;
}
.loading_screen__text span:nth-of-type(8) {
  animation: change_color 1s linear infinite 1600ms;
}
.loading_screen__text span:nth-of-type(9) {
  animation: change_color 1s linear infinite 1800ms;
}
.loading_screen__text span:nth-of-type(10) {
  animation: change_color 1s linear infinite 2000ms;
}
.loading_screen__text span:nth-of-type(11) {
  animation: change_color 1s linear infinite 2200ms;
}
.loading_screen__text span:nth-of-type(12) {
  animation: change_color 1s linear infinite 2400ms;
}
.loading_screen__text span:nth-of-type(13) {
  animation: change_color 1s linear infinite 2600ms;
}
@keyframes change_color {
  0% {
    color: #9356dc;
  }
  50% {
    color: #ff79da;
  }
  100% {
    color: #9356dc;
  }
}
.loading_screen__spinner {
  column-gap: 10px;
  display: flex;
  height: 100px;
}
.loading_screen__spinner div {
  background-color: #9356dc;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
.loading_screen__spinner div:nth-of-type(1) {
  animation: up_and_down 1s linear infinite 200ms;
}
.loading_screen__spinner div:nth-of-type(2) {
  animation: up_and_down 1s linear infinite 400ms;
}
.loading_screen__spinner div:nth-of-type(3) {
  animation: up_and_down 1s linear infinite 600ms;
}
.loading_screen__spinner div:nth-of-type(4) {
  animation: up_and_down 1s linear infinite 800ms;
}
.loading_screen__spinner div:nth-of-type(5) {
  animation: up_and_down 1s linear infinite 1000ms;
}
@keyframes up_and_down {
  0% {
    transform: translateY(0);
    background-color: #9356dc;
  }
  50% {
    transform: translateY(-25px);
    background-color: #ff79da;
  }
  100% {
    transform: translateY(0px);
    background-color: #9356dc;
  }
}

.title {
  font-family: "Shrikhand", cursive, Arial, Helvetica, sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
}
.title--restaurant {
  box-shadow: 0 0 5px #969696;
  position: relative;
}
.title h1 {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 15px;
}
.title h3 {
  font-size: 16px;
}
.title a {
  color: black;
  font-size: 20px;
  left: 20px;
  position: absolute;
  text-decoration: none;
}

.localisation {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #e0dede;
  height: 50px;
}
.localisation h3 {
  font-size: 18px;
  font-weight: bold;
}
.localisation i {
  font-size: 20px;
  margin-right: 20px;
}

.explore {
  display: flex;
  flex-direction: column;
  background-color: #f4f3f3;
  padding-bottom: 60px;
  padding-top: 40px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .explore {
    padding-bottom: 0;
    padding-top: 20px;
  }
}
.explore h2 {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 50px;
  padding-right: 50px;
}
.explore > p {
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.form_restaurant {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  row-gap: 20px;
}
@media screen and (min-width: 800px) {
  .form_restaurant {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.form_restaurant h2 {
  margin-bottom: 10px;
  margin-top: 40px;
  width: 100%;
}

#restaurants {
  background-color: #f4f3f3;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}
#restaurants__container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 60px;
}
@media screen and (min-width: 800px) {
  #restaurants__container {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  #restaurants__container {
    padding-top: 15px;
  }
}

.restaurant_img {
  height: 300px;
  overflow: hidden;
  position: static;
}
.restaurant_img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 800px) {
  .restaurant_img img {
    max-width: 1200px;
    object-position: 0 65%;
  }
}
@media screen and (min-width: 1200px) {
  .restaurant_img img {
    max-width: 1920px;
  }
}

.form_menu {
  background-color: #f4f3f3;
  margin-top: -70px;
  padding-bottom: 30px;
}

.menu_choice {
  background-color: #f4f3f3;
  border-radius: 40px 40px 0 0;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}
@media screen and (min-width: 800px) {
  .menu_choice {
    padding-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .menu_choice {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.restaurant_title {
  font-family: "Shrikhand", cursive, Arial, Helvetica, sans-serif;
  align-items: center;
  display: flex;
}
@media screen and (min-width: 800px) {
  .restaurant_title {
    justify-content: center;
    width: 100%;
  }
}

@media screen and (min-width: 800px) {
  .element_menu {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .element_menu {
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
  }
}
.element_menu h3 {
  margin-top: 20px;
  width: 90%;
}
@media screen and (min-width: 800px) {
  .element_menu h3 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .element_menu h3 {
    margin-left: 0;
  }
}
.element_menu h3::after {
  background-color: #99e2d0;
  content: "";
  display: block;
  height: 3px;
  margin-top: 10px;
  width: 46px;
}

.btn_standard {
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 10px #969696;
  background: linear-gradient(to top left, #9356dc, #ff79da);
  border-radius: 25px;
  height: 50px;
  margin: auto;
  transition: filter 500ms ease-in-out, box-shadow 500ms 100ms;
}
.btn_standard a {
  color: white;
  text-decoration: none;
}
.btn_standard--explore {
  width: 220px;
}
@media screen and (min-width: 1200px) {
  .btn_standard--explore {
    display: none;
  }
}
.btn_standard--order {
  border: transparent;
  color: white;
  cursor: pointer;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 150px;
}
.btn_standard:hover {
  cursor: pointer;
  filter: brightness(120%);
  box-shadow: 5px 5px 10px #323232;
}

.btn_function {
  align-items: center;
  background-color: #f4f3f3;
  border-radius: 20px;
  display: flex;
  height: 60px;
  padding-right: 5px;
  position: relative;
  width: 100%;
  box-shadow: 5px 5px 10px #969696;
  font-size: 16px;
  transition: box-shadow 500ms;
}
@media screen and (min-width: 800px) {
  .btn_function {
    overflow: hidden;
  }
}
.btn_function__num {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #9356dc;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  height: 20px;
  margin-left: -10px;
  width: 20px;
}
@media screen and (min-width: 800px) {
  .btn_function__num {
    border-radius: 0;
    font-size: 16px;
    height: 100%;
    margin-left: 0;
    width: 40px;
  }
}
.btn_function i {
  color: gray;
  font-size: 20px;
  margin-left: 15px;
  margin-right: 20px;
}
.btn_function p {
  font-weight: bold;
}
.btn_function:hover {
  cursor: pointer;
  background-color: #e9ddf8;
  box-shadow: 5px 5px 10px #323232;
}
.btn_function:hover > i {
  color: #9356dc;
}
@media screen and (min-width: 800px) {
  .btn_function {
    width: 30%;
  }
}

.like {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 30px;
  position: absolute;
  width: 30px;
}
.like i {
  color: black;
  font-size: 25px;
}
.like i:nth-child(1) {
  transition: all 500ms;
}
.like i:nth-child(2) {
  background: linear-gradient(to top left, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 500ms;
  position: absolute;
  transform: scale(0);
}
.like:hover > i:nth-child(1) {
  background: linear-gradient(to top left, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(0);
}
.like:hover > i:nth-child(2) {
  transform: scale(1);
}
.like--restaurant {
  bottom: 30px;
  right: 25px;
}
.like--menu {
  right: 12%;
}
@media screen and (min-width: 800px) {
  .like--menu {
    right: 20%;
  }
}
@media screen and (min-width: 1200px) {
  .like--menu {
    right: 30%;
  }
}

.card_restaurant {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px 10px 0 0;
  margin-top: 20px;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 800px) {
  .card_restaurant {
    width: 48%;
  }
}
@media screen and (min-width: 1200px) {
  .card_restaurant {
    width: 22%;
  }
}
.card_restaurant a {
  box-shadow: 5px 5px 10px #969696;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  transition: box-shadow 500ms;
}
.card_restaurant a:hover {
  cursor: pointer;
  filter: brightness(120%);
  box-shadow: 5px 5px 10px #323232;
}
a:hover .card_restaurant__detail h3 {
  color: #9356dc;
}
.card_restaurant__image {
  border-radius: 10px 10px 0 0;
  height: 170px;
  overflow: hidden;
}
.card_restaurant__image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.card_restaurant__new {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #99e2d0;
  border-radius: 3px;
  color: #278870;
  font-size: 14px;
  font-weight: bold;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 15px;
  width: 90px;
}
.card_restaurant__detail {
  padding-left: 20px;
}
.card_restaurant__detail h3 {
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 15px;
}
.card_restaurant__detail p {
  margin-bottom: 15px;
  margin-top: 5px;
}

.card_menu {
  box-shadow: 5px 5px 10px gray;
  background-color: white;
  border-radius: 15px;
  display: flex;
  margin-bottom: 20px;
  opacity: 0;
  overflow: hidden;
  position: relative;
  transition: box-shadow 500ms;
}
.card_menu:nth-of-type(1) {
  animation: appearance 400ms ease-out forwards 300ms;
}
.card_menu:nth-of-type(2) {
  animation: appearance 400ms ease-out forwards 500ms;
}
.card_menu:nth-of-type(3) {
  animation: appearance 400ms ease-out forwards 700ms;
}
.card_menu:nth-of-type(4) {
  animation: appearance 400ms ease-out forwards 900ms;
}
@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 800px) {
  .card_menu {
    flex-direction: column;
    height: 120px;
    width: 30%;
  }
}
@media screen and (min-width: 1200px) {
  .card_menu {
    height: 60px;
    width: 100%;
  }
}
.card_menu__detail {
  margin-left: 10px;
  transition: all 700ms;
  width: 75%;
}
@media screen and (min-width: 800px) {
  .card_menu__detail {
    height: 60%;
  }
}
.card_menu__detail h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.card_menu__detail p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  margin-bottom: 10px;
  margin-top: 5px;
}
@media screen and (min-width: 800px) {
  .card_menu__detail p {
    white-space: normal;
  }
}
.card_menu__price {
  position: absolute;
  right: 20px;
  width: 40px;
  transition: all 500ms;
}
@media screen and (min-width: 800px) {
  .card_menu__price {
    bottom: 20px;
  }
}
.card_menu__price p {
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 33px;
  padding-left: 5px;
}
.card_menu__validation {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #99e2d0;
  color: white;
  font-size: 25px;
  height: 100%;
  position: absolute;
  right: -60px;
  width: 60px;
  transition: all 500ms;
}
.card_menu:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px #323232;
}
.card_menu:hover > .card_menu__detail {
  width: 60%;
  transition: all 500ms;
}
.card_menu:hover > .card_menu__detail h4, .card_menu:hover > .card_menu__detail p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card_menu:hover > .card_menu__price {
  transform: translate(-50px, 0);
  transition: all 500ms;
  transition-delay: 110ms;
}
.card_menu:hover > .card_menu__validation {
  transform: translate(-60px, 0);
  transition: all 500ms;
}
.card_menu:hover i {
  transform: rotate(1turn);
  transition: all 700ms;
}

footer {
  background-color: #3d3d3d;
  color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
}
footer h2 {
  font-family: "Shrikhand", cursive, Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}
footer ul {
  padding-left: 0;
}
@media screen and (min-width: 800px) {
  footer ul {
    align-content: space-around;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70px;
  }
}
footer li {
  align-items: center;
  display: flex;
  font-weight: bold;
  margin-top: 10px;
}
footer li i {
  margin-right: 15px;
}
footer li a {
  color: white;
  text-decoration: none;
}
footer li a:hover {
  color: #9356dc;
}
footer li address {
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */
