footer {
  background-color: #3d3d3d;
  color: $color-police-standard;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  @include width-max-page;

  h2 {
    @include police-logo;
    margin-bottom: 10px;
  }

  ul {
    padding-left: 0;

    @include tablet-screen {
      align-content: space-around;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 70px;
    }
  }

  li {
    align-items: center;
    display: flex;
    font-weight: bold;
    margin-top: 10px;

    i {
      margin-right: 15px;
    }

    a {
      color: $color-police-standard;
      text-decoration: none;

      &:hover {
        color: $color-primary;
      }
    }

    address {
      font-style: normal;
    }
  }
}
