footer {
  display: flex;
  flex-direction: column;
  background-color: #3d3d3d;
  color: $color-police-standard;
  padding-bottom: 40px;
  h2 {
    @include police-logo;
    margin-left: 25px;
    margin-bottom: 10px;
  }
  ul {
    padding-left: 25px;
  }
  li {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-weight: bold;
    i {
      margin-right: 15px;
    }
    a {
      text-decoration: none;
      color: $color-police-standard;
    }
  }
}
