header {
  box-shadow: 0 0 5px $color-shadow1;
  position: relative;
  @include tablet-screen {
    box-shadow: none;
  }
}

.title {
  @include police-logo;
  @include width-max-page;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;

  h1 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 15px;
    text-align: center;
    width: 100%;
  }

  h3 {
    font-size: 16px;
  }

  a {
    color: $color-police-standard2;
    font-size: 20px;
    left: 20px;
    position: absolute;
    text-decoration: none;
  }
}
