.title {
  @include police-logo;
  align-items: center;
  display: flex;
  justify-content: center;
  &--restaurant {
    box-shadow: 0 0 5px $color-shadow1;
    position: relative;
  }

  h1 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 15px;
  }

  h3 {
    font-size: 16px;
  }

  a {
    color: $color-police-standard2;
    font-size: 20px;
    left: 20px;
    position: absolute;
    text-decoration: none;
  }
}
