.title {
  @include police-logo;
  display: flex;
  justify-content: center;
  align-items: center;
  &--restaurant {
    position: relative;
    box-shadow: 0 0 5px $color-shadow1;
  }
  h1 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 30px;
  }
  h3 {
    font-size: 16px;
  }
  a {
    position: absolute;
    left: 20px;
    text-decoration: none;
    color: $color-police-standard2;
    font-size: 20px;
  }
}
