.btn_function {
  align-items: center;
  background-color: $color-background-light;
  border-radius: 20px;
  display: flex;
  height: 60px;
  padding-right: 5px;
  position: relative;
  width: 100%;
  @include border-shadow($color-shadow1);
  font-size: 16px;
  transition: box-shadow 500ms;

  @include tablet-screen {
    overflow: hidden;
  }

  &__num {
    @include center;
    background-color: $color-primary;
    border-radius: 50%;
    color: $color-police-standard;
    font-size: 12px;
    height: 20px;
    margin-left: -10px;
    width: 20px;

    @include tablet-screen {
      border-radius: 0;
      font-size: 16px;
      height: 100%;
      margin-left: 0;
      width: 40px;
    }
  }

  i {
    color: gray;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 20px;
  }

  p {
    font-weight: bold;
  }

  &:hover {
    @include hover-btn-function;
  }

  &:hover > i {
    color: $color-primary;
  }

  @include tablet-screen {
    width: 30%;
  }
}
