.btn_standard {
  @include center;
  background: linear-gradient(to top left, $color-primary, $color-secondary);
  height: 50px;
  margin: auto;
  border-radius: 25px;
  @include border-shadow($color-shadow1);
  transition: filter 500ms ease-in-out, box-shadow 500ms 100ms;
  a {
    text-decoration: none;
    color: $color-police-standard;
  }
  &--explore {
    width: 220px;
    @include desktop-screen {
      display: none;
    }
  }
  &--order {
    width: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: transparent;
    color: $color-police-standard;
    cursor: pointer;
  }
  &:hover {
    filter: brightness(120%);
    @include border-shadow($color-shadow2);
  }
}
