.btn_standard {
  @include center;
  @include border-shadow($color-shadow1);
  background: $gradient-primary;
  border-radius: 25px;
  height: 50px;
  margin: auto;
  transition: filter 500ms ease-in-out, box-shadow 500ms 100ms;

  a {
    color: $color-police-standard;
    text-decoration: none;
  }

  &--explore {
    width: 220px;
    @include desktop-screen {
      display: none;
    }
  }

  &--order {
    border: transparent;
    color: $color-police-standard;
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 150px;
  }

  &:hover {
    @include hover-elements;
  }
}
