.card_menu {
  position: relative;
  overflow: hidden;
  display: flex;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: $color-background-card;
  opacity: 0;
  transition: box-shadow 500ms;
  @include border-shadow(gray);
  @include appearance($menu-composition);
  @include tablet-screen {
    width: 30%;
    height: 150px;
    flex-direction: column;
  }
  @include desktop-screen {
    width: 100%;
  }
  &__detail {
    width: 75%;
    margin-left: 10px;
    transition: all 700ms;
    @include tablet-screen {
      height: 60%;
    }
    h4 {
      font-size: 16px;
      margin-top: 10px;
      margin-bottom: 5px;
      @include ellipsis;
      @include tablet-screen {
        white-space: normal;
      }
    }
    p {
      font-size: 14px;
      margin-top: 5px;
      margin-bottom: 10px;
      @include ellipsis;
      @include tablet-screen {
        white-space: normal;
      }
    }
  }
  &__price {
    position: absolute;
    width: 40px;
    right: 20px;
    transition: all 500ms;
    @include tablet-screen {
      bottom: 20px;
    }
    p {
      font-weight: bold;
      margin-top: 33px;
      margin-bottom: 0;
      padding-left: 5px;
    }
  }
  &__validation {
    position: absolute;
    @include center;
    width: 60px;
    height: 100%;
    right: -60px;
    color: white;
    font-size: 25px;
    background-color: $color-tertiary;
    transition: all 500ms;
  }
  &:hover {
    cursor: pointer;
    @include border-shadow($color-shadow2);
  }
  &:hover > &__detail {
    width: 60%;
    transition: all 500ms;
    h4, p {
      @include ellipsis;
    }
  }
  &:hover > &__price {
    transform: translate(-50px, 0);
    transition: all 500ms;
    transition-delay: 130ms;
  }
  &:hover > &__validation {
    transform: translate(-60px, 0);
    transition: all 500ms;
  }
  &:hover i {
    transform: rotate(1turn);
    transition: all 700ms;
  }
}