.cards_menu {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 90%;
  margin-bottom: 20px;
  border-radius: 15px;
  @include border-shadow(gray);
  &__detail {
    width: 77%;
    margin-left: 10px;
    transition: all 500ms;
    h3 {
      font-size: 16px;
      margin-top: 10px;
      margin-bottom: 5px;
      @include ellipsis;
    }
    p {
      font-size: 14px;
      margin-top: 5px;
      margin-bottom: 10px;
      @include ellipsis;
    }
  }
  &__price {
    position: absolute;
    width: 40px;
    right: 10px;
    transition: all 500ms;
    transition-delay: 80ms;
    p {
      font-weight: bold;
      margin-top: 33px;
      margin-bottom: 0;
    }
  }
  &__validation {
    position: absolute;
    @include center;
    width: 60px;
    height: 100%;
    right: -60px;
    color: white;
    font-size: 25px;
    background-color: $color-tertiary;
    transition: all 500ms;
  }
  &:hover {
    cursor: pointer;
  }
  &:hover > &__detail {
    width: 57%;
  }
  &:hover > &__price {
    transform: translate(-60px, 0);
  }
  &:hover >&__validation {
    transform: translate(-60px, 0);
  }
  &:hover i {
    transform: rotate(1turn);
    transition: all 700ms;
  }
}