.like {
  position: absolute;
  @include center;
  width: 30px;
  height: 30px;
  i {
    font-size: 25px;
    color: black;
  }
  i:nth-child(1) {
    transition: all 500ms;
  }
  i:nth-child(2) {
    position: absolute;
    transform: scale(0);
    background:linear-gradient(to top left, $color-primary, $color-secondary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 500ms;
  }
  &:hover > i:nth-child(1) {
    background:linear-gradient(to top left, $color-primary, $color-secondary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 500ms;
  }
  &:hover > i:nth-child(2) {
    transform: scale(1);
  }
  &--restaurant {
    right: 25px;
    bottom: 30px;
  }
  &--menu {
    right: 12%;
    @include tablet-screen {
      right: 20%;
    }
    @include desktop-screen {
      right: 30%;
    }
  }
}
