/* Mixin pour la page de loading */

@mixin loading {
  animation: load 0s forwards;
  animation-delay: 4s;
  @keyframes load {
    from {
      height: 100%;
      opacity: 1;
    }
    to {
      height: 0;
      opacity: 0;
      z-index: 0;
    }
  }
}

/* Mixin pour l'animation du spinner du loading */

@mixin loading_spin($num_points) {
  $delay: 0ms;
  @for $i from 1 through ($num_points) {
    &:nth-of-type(#{$i}) {
      $time: $delay;
      $delay: calc($time + 200ms);
      animation: up_and_down 1s linear infinite $delay;
    }
  }
  @keyframes up_and_down {
    0% {
      transform: translateY(0);
      background-color: $color-primary;
    }
    50% {
      transform: translateY(-25px);
      background-color: $color-secondary;
    }
    100% {
      transform: translateY(0px);
      background-color: $color-primary;
    }
  }
}

/* Mixin pour l'animation du texte du loading */

@mixin loading_text($num_letters) {
  $delay: 0ms;
  @for $i from 1 through ($num_letters) {
    &:nth-of-type(#{$i}) {
      $time: $delay;
      $delay: calc($time + 200ms);
      animation: change_color 1s linear infinite $delay;
    }
  }
  @keyframes change_color {
    0% {
      color: $color-primary;
    }
    50% {
      color: $color-secondary;
    }
    100% {
      color: $color-primary;
    }
  }
}

.loading_screen {
  @include center;
  @include loading;
  background-color: $color-background;
  flex-direction: column;
  height: 100%;
  position: fixed;
  row-gap: 50px;
  width: 100%;
  z-index: 1;

  &__text {
    color: $color-primary;
    column-gap: 3px;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;

    span {
      @include loading_text(13);
    }
  }

  &__spinner {
    column-gap: 10px;
    display: flex;
    height: 100px;

    div {
      @include loading_spin(5);
      background-color: $color-primary;
      border-radius: 50%;
      height: 10px;
      width: 10px;
    }
  }
}
