/* Dimensions par défaut adaptées aux mobiles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @include police-texte;
  max-width: $width-max;
  h2 {
    @include tablet-screen {
      text-align: center;
    }
  }
}

main {
  z-index: 1;
}