#localisation {
  @include center;
  height: 50px;
  background-color: $color-background;
  address {
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
  }
  i {
    font-size: 20px;
    margin-right: 20px;
  }
}

#explore {
  @include column;
  background-color: $color-background-light;
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: center;
  z-index: 1;
  @include desktop-screen {
    padding-top: 20px;
    padding-bottom: 0;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
  }
  & > p {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
  }
}

.form_restaurant {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  margin-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  @include tablet-screen {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
  }
  h2 {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 10px;
  }
}

#restaurants {
  background-color: $color-background-light;
  padding-top: 40px;
  h2 {
    margin-left: 20px;
  }
  &__container {
    @include center;
    flex-wrap: wrap;
    padding-bottom: 40px;
    @include tablet-screen {
      justify-content: space-evenly;
    }
    @include desktop-screen {
      padding-top: 15px;
    }
  }
}
