.restaurant_img {
  height: 300px;
  overflow: hidden;
  position: static;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.form_menu {
  background-color: $color-background-light;
  margin-top: -100px;
  padding-bottom: 30px;
}

.menu_choice {
  background-color: $color-background-light;
  border-radius: 40px 40px 0 0;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  @include tablet-screen {
    padding-top: 0;
    padding: 30px;
  }
  @include desktop-screen {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.restaurant_title {
  @include police-logo;
  align-items: center;
  display: flex;

  @include tablet-screen {
    justify-content: center;
    width: 100%;
  }
}

.element_menu {
  @include tablet-screen {
    @include center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @include desktop-screen {
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
  }
  h3 {
    margin-top: 15px;
    width: 90%;
    @include tablet-screen {
      width: 100%;
    }
    @include desktop-screen {
      margin-left: 0;
    }
  }
  h3::after {
    background-color: $color-tertiary;
    content : "";
    display: block;
    height: 3px;
    margin-top: 10px;
    width: 46px;
  }
}
