/* Mixins pour la police et le formatage de textes */

@mixin police-logo {
  font-family: "Shrikhand", cursive, Arial, Helvetica, sans-serif;
}

@mixin police-texte {
  font-family: "Roboto", sans-serif;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Mixins pour la disposition des blocs */

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin center {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Mixins pour les couleurs, le fond et bordures */

@mixin border-shadow($color-shadow) {
  box-shadow: 5px 5px 10px $color-shadow;
}

@mixin fill-fontawesome ($background) {
  background: $background;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*Mixins pour les comportements lors d'un hover */

@mixin hover-elements {
  cursor: pointer;
  filter: brightness(120%);
  @include border-shadow($color-shadow2);
}

@mixin hover-btn-function {
  cursor: pointer;
  background-color: lighten($color-primary, 32);
  @include border-shadow($color-shadow2);
}

/* Mixins pour les animations */

@mixin like-transition($duration) {
  transition: all $like-duration;
}

@mixin appearance($num_child) {
  $delay: 100ms;
  @for $i from 1 through ($num_child) {
    &:nth-of-type(#{$i}) {
      $time: $delay;
      $delay: calc($time + 200ms);
      animation: appearance 400ms ease-out forwards $delay;
    }
  }
  @keyframes appearance {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

/* Mixins pour le responsive */

@mixin tablet-screen {
  @media screen and (min-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

@mixin desktop-screen {
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}
