@mixin police-logo {
  font-family: "Shrikhand", cursive, Arial, Helvetica, sans-serif;
}
@mixin police-texte {
  font-family: "Roboto", sans-serif;
}

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin border-shadow($color-shadow) {
  box-shadow: 1px 1px 12px $color-shadow;
}

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* animation permettant l'apparition progressive d'éléments */

@mixin appearance($num_child){
  $delay: 200ms;
  @for $i from 1 through ($num_child) {
      &:nth-child(#{$i}) {
      $time: $delay;
      $delay: calc($time + 200ms);
      animation: appearance 400ms ease-out forwards $delay;
    }
  }
  @keyframes appearance {
      from {
          opacity: 0;
      } to {
          opacity: 1;
      }
  }
}