/* Couleurs de l'identité graphique */

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

/* Couleurs pour les polices */

$color-police-standard: white;
$color-police-standard2: black;

/* Couleurs pour les bordures */

$color-shadow1: rgb(100, 100, 100);
$color-shadow2: rgb(50, 50, 50);

/* Couleurs pour les fonds */

$color-background: #e0dede;
$color-background-light: lighten($color-background, 8);

$color-new-background: $color-tertiary;
$color-new: darken($color-tertiary, 40);

$color-background-card: white;

/* Variables pour les mixins d'animation */

$menu-composition: 4;
