/* Couleurs de l'identité graphique */

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

$color-primary-opacity: #9356dc40;

$gradient-primary: linear-gradient(to top left, $color-primary, $color-secondary);

/* Variables pour les tailles */

$width-max: 1920px;

/* Couleurs pour les polices */

$color-police-standard: white;
$color-police-standard2: black;

/* Couleurs pour les bordures */

$color-shadow1: rgb(150, 150, 150);
$color-shadow2: rgb(50, 50, 50);

/* Couleurs pour les fonds */

$color-background: #e0dede;
$color-background-light: lighten($color-background, 8);

$color-new-background: $color-tertiary;
$color-new: darken($color-tertiary, 40);

$color-background-card: white;

/* Variables pour les mixins d'animation */

$like-duration: 500ms;
$menu-composition: 4;
